.audio-bar-container {
  position: fixed;
  background-color: #282828;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 1;
}

.audio-player {
  background-color: #282828;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.audio-player-controls {
  display: flex;
  justify-content: center;
}

.song-progress-container {
  width: 100%;
}

.song-progress {
  width: 75%;
  cursor: pointer;

}



.far, .fas {
  color: #fff;
}

.now-playing-info {
  margin-left: 20px;
  width: 205px;
}

.now-playing-img {
  width: 75px;
  height: 75px;
}

.audio-bar-volume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.play-pause-button {
  margin-right: 10px;
  cursor: pointer;
}

.fa-play-circle {
  font-size: 40px;
}
.fa-pause-circle {
  font-size: 40px;
}

.next-song {
  margin-left: 10px;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.previous-song {
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.loop {
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.shuffle {
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.fa-forward, .fa-backward {

}

.song-remaining-time {
  color: #fff;
  height: 15px;
  width: 15px;
}

.song-progress-time {
  color: #fff;
  height: 15px;
  width: 15px;
}
