input[type=range] {
  -webkit-appearance: none;
  width: 75%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #1db954;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  margin-top: -3px;
  border-radius: 100px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1db954;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #1db954;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #1db954;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}


.audio-bar-container {
  position: fixed;
  background-color: #282828;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 2;
}

// .audio-bar-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   flex-direction: row;
//   height: 15%;
//   width: 100%;
// }

.audio-player {
  background-color: #282828;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.audio-player-controls {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.song-progress-container {
  width: 100%;
  align-items: center;
}

.song-progress {
  width: 75%;
  cursor: pointer;
}

.far, .fas {
  color: #fff;
}

.now-playing-info {
  margin-left: 20px;
  width: 300px;
  margin-top: 10px;
  margin-right: -250px;
}

.now-playing-img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.now-playing-title {

}

.now-playing-title {

}

.now-playing-artist {

}

.audio-bar-volume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.play-pause-button {
  margin-right: 25px;
  margin-left: 15px;
  cursor: pointer;
}

.fa-play-circle {
  font-size: 40px;
}
.fa-pause-circle {
  font-size: 40px;
}

.next-song {
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.previous-song {
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.loop {
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.shuffle {
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.fa-forward, .fa-backward {

}

.song-remaining-time {
  color: #fff;
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

.song-progress-time {
  color: #fff;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
