.developer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-weight: 900;
  width: 83%;
}

.developer-picture {
  height: 10em;
  width: 10em;
  border-radius: 1000px;
  margin-bottom: 5%;
}

.developer-name {

}

.developer-a {
  color: #fff;
  background-color: #1ed760;
  font-size: .75em;
  line-height: 1;
  border-radius: 500px;
  width: 6.35em;
  height: 25px;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin-bottom: .30em;
  margin-top: .3em;
  padding-top: .90em;
  border: none;
  min-height: 1.6em;
  text-decoration: none;
  text-align: center;
}

.developer-logout {
  color: #fff;
  background-color: #1ed760;
  font-size: .75em;
  line-height: 1;
  font-weight: 900;
  border-radius: 500px;
  width: 6.35em;
  height: 1.6em;
  min-height: 1.6em;
  letter-spacing: .08em;
  text-transform: uppercase;
  border: none;
  margin-top: .3em;
  padding-top: .90em;
  padding-bottom: 1.6em;
  text-align: center;
  cursor: pointer;
}
