.navbar-container {
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
}

.navbar-button {
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: .08em;
  text-transform: uppercase;
  text-decoration: none;
  color: hsla(0,0%,100%,.6);
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-button:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: hsla(0,0%,100%,1);
}

.navbar-button:active,
.navbar-button:focus,
.navbar-button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
