.playlist-index-container {
	display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  margin: 0;
  width: 100%;
  position: fixed;
  left: 125px;
  overflow-y: scroll;
}

.playlist-index-item {
	height: 200px;
  width: 200px;
  margin-bottom: 75px;
}

.playlist-index-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
	text-decoration: none;
	color: white;
  margin: 50px;
}

.playlist-index-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  margin-top: 0;
  height: 100px;
  color: #fff;
}

.playlist-index-item-image {
  width: 200px;
  height: 200px;
  background-color: white;
}

.playlist-index-playlists {
  width: 900px;
  margin: 0 25px 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  left: 250px;
  top: 150px;
}

.playlist-index-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  max-height: 560px;
  text-overflow: ellipsis;
}
