.component-container {
	display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  width: 83%;
	height: 88%;
}

.playlist-index-playlists {
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	float: left;
	text-align: center;
	width: 100%;
}

.playlist-index-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
}

.playlist-index-header {
  width: 1500px;
  height: 100px;
}


.playlist-index-item {
  width: 200px;
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

.playlist-index-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	text-decoration: none;
	color: white;
	width: 13em;
	vertical-align: top;
}

.playlist-index-item-big-link {
  display: flex;
  flex-direction: column;
  align-items: center;
	text-decoration: none;
	color: white;
}


.playlist-index-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  height: 50px;
  color: #fff;
	text-decoration: none;
}
.playlist-index-playlists {
	min-width: 700px;
	width: 900px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.playlist-index-item-image {
  width: 200px;
  height: 200px;
}

.playlist-index-item-image:hover {
	filter: brightness(.3);
}


.playlist-index-item-link {
  font-size: 14px;
  letter-spacing: .015em;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  text-overflow: ellipsis;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

#playlist-index-play-button {
	position: relative;
	bottom: 4em;
	font-size: 2em;
	padding: 0 1em 1em 1em;
}
