.playlist-show-container {
  display: flex;
	height: 100vh;
  background: linear-gradient(rgb(72, 77, 81), rgb(7, 8, 8) 85%);
  justify-content: center;
}

.playlist-show-items {
  width: 900px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  padding-bottom: 30px;
  position: fixed;
  left: 250px;
}

.playlist-show-info {
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.playlist-show-play {
  color: #fff;
  background-color: #1ed760;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  width: 150px;
  height: 40px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
}

.playlist-show-delete {
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: .08em;
  text-transform: uppercase;
}

.playlist-show-delete:active,
.playlist-show-delete:focus,
.playlist-show-delete:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.playlist-show-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #fff;
  text-transform: none;
  height: 35px;
}

.playlist-show-image {
  width: 157px;
  height: 157px;
  background-color: white;
}

.playlist-show-song-count {
  font-size: 11px;
  line-height: 16px;
  font-weight: 200;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
}

.playlist-show-song-count {
  margin-top: 10px;
}

.playlist-show-info-subcontainer {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.playlist-show-author {
  font-size: 14px;
  line-height: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
}

.playlist-show-user-show-link {
  margin-left: 5px;
  color: #fff;
}

.playlist-show-song-container {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  color: #fff;
  width: 800px;
  position: fixed;
  left: 250px;
  top: 250px;
}
