.search-top {

}

.search-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(rgb(72, 77, 81), rgb(7, 8, 8) 85%);
  justify-content: center;
}

.search-input {
  position: fixed;
  left: 250px;
  display: flex;
  justify-content: flex-start;
  height: 76px;
}

.search-input-form {
  background-color: #282828;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  border: none;
  caret-color: #1db954;
}

.search-input-form:focus {
  outline: none;
}

.search-results {

}
