.song-index-container {
  display: flex;
	height: 100vh;
  background: #1a1a1a;
  justify-content: center;
  min-width: 1250px;
}

.song-index-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 700px;
  margin-left: 200px;
  width: 100%;
}

.song-index-list-container {
  width: 75%;
  height: 600px;
  overflow-y: scroll;
  padding-right: 25px;
}

.song-index-list-container {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.song-index-list-container::-webkit-scrollbar {
    display: none;
}

.song-index-list {
  color: #fff;
}

.song-index-list-features > button {
  background: none;
  border: none;
  color: #fff;
}

.song-index-list-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
}

.song-index-list-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  color: #fff;
}

.song-index-artist-album {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #b3b3b3;
  text-transform: none;
}

.song-index-list-title:hover {
  opacity: none;
}

.song-modal {
  background: none;
  border: none;
  cursor: pointer;
}

.song-modal:active {
  outline: none;
  border: none;
}

#small-pause {
  font-size: 16px;
  font-weight: 400;
}
