.stp-title {
  font-size: 72px;
  line-height: 82px;
  color: #fff;
}

.stp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stp-index-grid {
  display: flex;
  justify-content: space-around;

}

.stp-index-item {

}

.stp-index-item-image {

}

.stp-index-item-container {
  width: 250px;
  height: 250px;
  margin: 15px;
}
